{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Page Content -->
    <div class="container" style="padding-bottom: 20%;">
      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-10">
          <!-- Title -->
          <h1 class="mt-4">{{instance.title}}</h1>
          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ instance.author }}</a>
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posted on {{ instance.created_date }}</p>
          <!-- Preview Image -->
           {% if instance.image %}
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
          {% endif %}
          <hr>
          <!-- Post Content -->
          <p>{{ instance.text }}</p>

          <!--Total number of comments-->
          <span>{% with comments.count as total_comments %} </span>
          <span>
            {{ total_comments }} comment{{ total_comments| pluralize }}
          </span>
          {% endwith %}
          <hr>
          <!--Display of all comments-->
          {% for comment in comments %}
            <div class="comment">
              <p class="info">
                comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
                {{ comment.body }}
              </p>
              {% empty %}
              <p>There are no comments yet</p>
            </div>
          {% endfor %}
          <hr>
          <!--Comment Form-->
          {% if new_comment %}
          <span>Your comment has been added</span>
          {% else %}
          <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
          </form>
          {% endif %}
        </div>
      </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}
