{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
 <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <hr>
          {% if tag %}
          <h3>Posts tagged with "{{ tag.name }}"</h3>
          {% endif %}
          {% for article in pag_queryset %}
          <p class="tags">
          Tags:
          {% for tag in article.tags.all %}
          <a href="{% url 'news:article_list_by_tag' tag.slug %}">
          {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %}
          {% endfor %}
          </p>

          <!-- Blog Post -->
          <div class="card my-4">
            {% if article.image %}
            <img class="card-img-top" src="{{article.image.url}}" style="width: 50%">
            {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ article.title }}</h2>
              <p class="card-text">{{ article.text| truncatewords:35}}</p>
              <a href="/article/{{ article.id }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ article.created_date }} 2017 by
              <a href="#">{{ article.author }}</a>
            </div>
          </div>
          {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
            {% if pag_queryset.has_previous %}
            <a class="page-link" href="?{{ page_request_var }}={{ pag_queryset.previous_page_number }}">&larr; Newer</a>
            {% endif %}
          </li>
          <li class="page-item">
            {% if pag_queryset.has_next %}
            <a class="page-link" href="?{{ page_request_var }}={{ pag_queryset.next_page_number }}">Older &rarr;</a>
            {% endif %}
          </li>
          </ul>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Top Articles</h5>
            <div class="card-body">
              <ol style="text-align: left;">
              {% for article in top_articles %}
              <li><a href="">{{article.title}}</a></li>
              {% endfor %}
              </ol>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock content %}


