{% extends "includes/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

      <br>
      <div class="row">
        <div class="col-sm-3" style="border-right: 1px solid #C8C8C8">
        </div>
        <div class="col-sm-6" style="border-right: 1px solid #C8C8C8">
            <img src="http://placehold.it/300x200" alt="" style="width:200px;height:200px;">
        </div>

        <div class="col-sm-3" style="border-right: 1px solid #C8C8C8"><center>
          <h3 class="mt-4">Top Articles</h3>
          <ol style="text-align: left;">
            <br>
          {% for article in top_articles %}

            <li><a href="">{{article.title}}</a></li>
          {% endfor %}
          </ol>
        </center>
        </div>

      </div>
      <br>
        <div class="row">
            <div class="col-sm-3" style="border-top: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8">
              <p>Hello</p>
            </div>
            <div class="col-sm-3" style="border-top: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8">
              <p>Hello</p>
            </div>
            <div class="col-sm-3" style="border-top: 1px solid #C8C8C8">
              <p>Hello</p>
            </div>
          </div>
      <!-- /.row -->
      <hr>
      <div class="row">
        <div class="col-sm-6 my-6" style="border-right: 1px solid #C8C8C8">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <!--<hr class="vertical">-->
        <div class="col-sm-3 my-3" style="border-right: 1px solid #C8C8C8">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <!--<hr class="vertical">-->
        <div class="col-sm-3 my-3">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
     <br>
    </div>
    <!-- /.container -->

{% endblock content %}


