{% extends "includes/base.html" %}

{% block content %}
<div class="panel-heading">
        <h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
        </div>
        <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
            <input name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" type="text">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input name="email" id="email" class="form-control input-sm" placeholder="Email Address" type="email">
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input name="password" id="password" class="form-control input-sm" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" type="password">
                    </div>
                </div>
            </div>

            <input value="Register" class="btn btn-info btn-block" type="submit">

        </form>
    </div>
{% endblock content %}
